.bootstrap-tagsinput {
    border-radius: unset;
}

.tag.primary-btn.radius_30px. .fix-gr-bg {
    background: #fb1159;
    color: #FFF;
    padding: 4px;
    display: inline-block;
    width: 16%;
    border-radius: 3px;
    text-align: center;
}

.blog-img {
    width: 90px;
    height: 50px;
}
