/*==== BLOG CSS ====*/
.language_school .blog {
  background: #f4f9fe;
  padding-top: 100px;
  padding-bottom: 100px;
}

.language_school .blog_item {
  cursor: pointer;
  display: block;
  margin-top: 30px;
  box-shadow: 0px 6px 12px rgba(var(--black, #000000), 0.05);
  background-color: #fff;
  transition: all .4s ease-in-out;
}

.language_school .blog_item:hover {
  box-shadow: 0px 6px 12px rgba(var(--black, #000000), 0.15);
}

@media only screen and (max-width: 479px) {
  .language_school .blog_item {
    margin-top: 25px;
  }
}

.language_school .blog_item:hover img {
  transform: scale(1.05);
}

.language_school .blog_item_img {
  display: block;
  width: 100%;
  padding-bottom: 73%;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .language_school .blog_item_img {
    padding-bottom: 60%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .language_school .blog_item_img {
    padding-bottom: 60%;
  }
}

@media only screen and (max-width: 991px) {
  .language_school .blog_item_img {
    padding-bottom: 56%;
  }
}

.language_school .blog_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease-in-out;
}

.language_school .blog_item_img + span {
  margin-top: 10px;
  display: block;
}

.language_school .blog_item_title {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--frontend-primary-2, #130673);
  transition: all .4s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .language_school .blog_item_title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .language_school .blog_item_title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .language_school .blog_item_title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .language_school .blog_item_title {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .language_school .blog_item_title {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .language_school .blog_item_title {
    margin-bottom: 10px;
  }
}

.language_school .blog_item_meta {
  padding: 20px;
}

.language_school .blog_item_wrap {
  padding: 20px;
  padding-bottom: 30px;
  background-color: var(--white, #ffffff);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .language_school .blog_item_wrap {
    padding: 15px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .language_school .blog_item_wrap {
    padding: 15px;
    padding-bottom: 20px;
  }
}

.language_school .blog_item_wrap > span {
  color: var(--frontend-text-color, #687083);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .language_school .blog_item_wrap > span {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .language_school .blog_item_wrap > span {
    margin-bottom: 5px;
  }
}

.language_school .blog_item_tutor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language_school .blog_item_tutor #img {
  --lms-tutor: 34px;
  border: 3px solid #efefef;
  border-radius: 100%;
  overflow: hidden;
  width: var(--lms-tutor);
  height: var(--lms-tutor);
}

.language_school .blog_item_tutor #img img,
.language_school .blog_item_tutor #img svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language_school .blog_item_tutor #meta {
  display: inline-block;
  text-transform: capitalize;
  background-color: var(--frontend-primary, #FF4D37);
  color: var(--frontend-primary, #FF4D37);
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  padding: 7px 10px;
  text-align: center;
  min-width: 60px;
}
