/*==== PACKAGE CSS ====*/
.language_school .package_items {
  overflow: hidden;
  margin-top: 30px;
  padding: 30px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  background-image: var(--lms-cate-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--frontend-extra-light-sky, #F4F9FF);
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .language_school .package_items {
    min-height: 280px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .language_school .package_items {
    min-height: 230px;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .language_school .package_items {
    min-height: 230px;
    padding: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .language_school .package_items {
    padding: 15px;
    min-height: 200px;
  }
}

.language_school .package_items::before {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  margin-top: 100px;
}

.language_school .package_items h4 {
  font-size: 24px;
  line-height: 1.41667;
  margin-bottom: 5px;
  color: var(--white, #ffffff);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .language_school .package_items h4 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .language_school .package_items h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .language_school .package_items h4 {
    font-size: 18px;
  }
}

.language_school .package_items a {
  color: var(--white, #ffffff);
  font-size: 16px;
  font-weight: 700;
}

.language_school .package_items a:hover {
  color: var(--frontend-primary, #FF4D37);
}

@media only screen and (max-width: 767px) {
  .language_school .package_items a {
    font-size: 14px;
  }
}

.language_school .package_items a i {
  margin-left: 10px;
  font-size: 14px;
}

html[dir="rtl"] .language_school .package_items a i {
  margin-right: 10px;
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .language_school .package .row .col-sm-6 {
    width: 50%;
  }
}

@media only screen and (max-width: 479px) {
  .language_school .package .row .col-sm-6 {
    width: 100%;
  }
}
