/node_modules
/public/hot
/public/storage
/public/certificate
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
storage/*.key
/public/uploads
/public/database-backup
phpcs.xml
modules_statuses.json
code-generator

**/caddy
frankenphp
frankenphp-worker.php
rr
.rr.yaml
Modules/CourseSetting/Resources/views/student_list.blade.php__