/*==== JOIN AREA CSS ====*/
.cooking_lms .join_area_img {
  width: 100%;
  height: 540px;
  padding-left: 30px;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .cooking_lms .join_area_img {
    height: 415px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cooking_lms .join_area_img {
    height: 345px;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cooking_lms .join_area_img {
    height: 270px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .cooking_lms .join_area_img {
    padding-left: 0;
    height: 370px;
    margin-bottom: 30px;
  }
}

html[dir="rtl"] .cooking_lms .join_area_img {
  padding-right: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html[dir="rtl"] .cooking_lms .join_area_img {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html[dir="rtl"] .cooking_lms .join_area_img {
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  html[dir="rtl"] .cooking_lms .join_area_img {
    padding-right: 0;
  }
}

.cooking_lms .join_area_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cooking_lms .join_area_inner {
  padding-left: 20%;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .cooking_lms .join_area_inner {
    padding-left: 10%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cooking_lms .join_area_inner {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 991px) {
  .cooking_lms .join_area_inner {
    padding-left: 0%;
  }
}

html[dir="rtl"] .cooking_lms .join_area_inner {
  padding-right: 20%;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  html[dir="rtl"] .cooking_lms .join_area_inner {
    padding-right: 10%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html[dir="rtl"] .cooking_lms .join_area_inner {
    padding-right: 5%;
  }
}

@media only screen and (max-width: 991px) {
  html[dir="rtl"] .cooking_lms .join_area_inner {
    padding-right: 0%;
  }
}

.cooking_lms .join_area_inner span {
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cooking_lms .join_area_inner span {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cooking_lms .join_area_inner span {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .cooking_lms .join_area_inner span {
    margin-bottom: 15px;
  }
}

.cooking_lms .join_area_inner h3 {
  font-size: 40px;
  line-height: 1.625;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .cooking_lms .join_area_inner h3 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cooking_lms .join_area_inner h3 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cooking_lms .join_area_inner h3 {
    font-size: 28px;
    line-height: 1.3125;
  }
}

@media only screen and (max-width: 767px) {
  .cooking_lms .join_area_inner h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 479px) {
  .cooking_lms .join_area_inner h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .cooking_lms .join_area_inner h3 {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cooking_lms .join_area_inner h3 {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cooking_lms .join_area_inner h3 {
    margin-bottom: 25px;
    font-size: 26px;
  }
}

@media only screen and (max-width: 767px) {
  .cooking_lms .join_area_inner h3 {
    margin-bottom: 20px;
  }
}

.cooking_lms .join_area_inner a {
  padding: 20px 35px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cooking_lms .join_area_inner a {
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 767px) {
  .cooking_lms .join_area_inner a {
    padding: 15px 25px;
  }
}
