.digital_marketing .footer_area {
  --lms-footer-py: 80px;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .digital_marketing .footer_area {
    --lms-footer-py: 60px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .digital_marketing .footer_area {
    --lms-footer-py: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .digital_marketing .footer_area {
    --lms-footer-py: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area {
    --lms-footer-py: 30px;
    padding-bottom: 50px;
  }
}

.digital_marketing .footer_area .heading_logo {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area .heading_logo {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .digital_marketing .footer_area_widget .col-md-6:nth-child(1), .digital_marketing .footer_area_widget .col-md-6:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_widget .col-md-6 {
    margin-bottom: 25px;
  }
}

.digital_marketing .footer_area_widget .col-md-6:last-child {
  margin-bottom: 0px;
}

.digital_marketing .footer_area_widget_card.pr {
  padding-right: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .digital_marketing .footer_area_widget_card.pr {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .digital_marketing .footer_area_widget_card.pr {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_widget_card.pr {
    padding-right: 0px;
  }
}

html[dir="rtl"] .digital_marketing .footer_area_widget_card.pr {
  padding-left: 60px;
  padding-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html[dir="rtl"] .digital_marketing .footer_area_widget_card.pr {
    padding-left: 0px;
    padding-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html[dir="rtl"] .digital_marketing .footer_area_widget_card.pr {
    padding-left: 0px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  html[dir="rtl"] .digital_marketing .footer_area_widget_card.pr {
    padding-left: 0px;
    padding-right: 0;
  }
}

.digital_marketing .footer_area_widget_card h6 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.625;
  margin-bottom: 25px;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .digital_marketing .footer_area_widget_card h6 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .digital_marketing .footer_area_widget_card h6 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .digital_marketing .footer_area_widget_card h6 {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_widget_card h6 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_widget_card h6.opacity-0 {
    opacity: 1 !important;
  }
}

.digital_marketing .footer_area_widget_card p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71429;
}

.digital_marketing .footer_area_widget_card p:not(:last-child) {
  margin-bottom: 15px;
}

.digital_marketing .footer_area_widget_card ul li {
  display: block;
}

.digital_marketing .footer_area_widget_card ul li a {
  display: inline-block;
  font-size: 14px;
  line-height: 2.14286;
  font-weight: 500;
}

.digital_marketing .footer_area_widget_card form {
  margin-top: 30px;
}

.digital_marketing .footer_area_widget_card form .input-control-input {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .digital_marketing .footer_area_widget_card form .input-control-input {
    padding: 15px 20px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .digital_marketing .footer_area_widget_card form .input-control-input {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_widget_card form .input-control-input {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.digital_marketing .footer_area_widget_card form .input-control-input[type=email] {
  padding-right: 140px !important;
  border: 1px solid var(--frontend-border-light, #F8F7FC);
  background-color: var(--frontend-gray-50, #FBFAFB);
}

html[dir="rtl"] .digital_marketing .footer_area_widget_card form .input-control-input[type=email] {
  padding-left: 140px !important;
  padding-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .digital_marketing .footer_area_widget_card form .input-control-input[type=email] {
    padding-right: unset;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_widget_card form .input-control-input[type=email] {
    padding-right: unset;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html[dir="rtl"] .digital_marketing .footer_area_widget_card form .input-control-input[type=email] {
    padding-left: unset;
  }
}

@media only screen and (max-width: 767px) {
  html[dir="rtl"] .digital_marketing .footer_area_widget_card form .input-control-input[type=email] {
    padding-left: unset;
  }
}

.digital_marketing .footer_area_widget_card form .input-control-input[type=submit] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: auto;
  padding: 10px 20px;
  text-transform: uppercase;
}

html[dir="rtl"] .digital_marketing .footer_area_widget_card form .input-control-input[type=submit] {
  left: 10px;
  right: auto;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .digital_marketing .footer_area_widget_card form .input-control-input[type=submit] {
    position: inherit;
    transform: translateY(0);
    width: 100%;
    padding: 15px 20px;
    margin-top: 10px;
    right: 0px;
  }
  html[dir="rtl"] .digital_marketing .footer_area_widget_card form .input-control-input[type=submit] {
    left: 0px;
    right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_social {
    text-align: left;
    margin-top: 10px;
  }
  html[dir="rtl"] .digital_marketing .footer_area_social {
    text-align: right;
  }
}

.digital_marketing .footer_area_social ul li {
  display: inline-block !important;
  padding: 0px 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .digital_marketing .footer_area_social ul li {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_social ul li {
    padding: 0px 10px;
  }
}

.digital_marketing .footer_area_social ul li:first-child {
  padding-left: 0;
}

html[dir="rtl"] .digital_marketing .footer_area_social ul li:first-child {
  padding-right: 0px;
}

.digital_marketing .footer_area_social ul li:last-child {
  padding-right: 0;
}

html[dir="rtl"] .digital_marketing .footer_area_social ul li:last-child {
  padding-left: 0px;
}

.digital_marketing .footer_area_social ul li a {
  color: var(--frontend-primary-2, #00124E);
  font-size: 24px;
  line-height: 1.41667;
  display: block;
  text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .digital_marketing .footer_area_social ul li a {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .digital_marketing .footer_area_social ul li a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .digital_marketing .footer_area_social ul li a {
    font-size: 18px;
  }
}

.digital_marketing .footer_area_social ul li a:hover {
  color: var(--frontend-primary, #3C2CEB);
}

.digital_marketing .footer_area_copyright {
  padding: var(--lms-footer-py) 0px;
}

.digital_marketing .footer_area_copyright p {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 500;
}

.digital_marketing .footer_area_copyright p span,
.digital_marketing .footer_area_copyright p a {
  color: var(--frontend-primary, #3C2CEB);
}

.digital_marketing .footer_area_copyright p a:hover {
  color: var(--frontend-primary-2, #00124E);
}
